[Desktop Entry]
Name=findsploit
Encoding=UTF-8
Exec=/usr/share/kali-menu/exec-in-shell "sudo findsploit"
Icon=avatar-root
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;
X-Kali-Package=findsploit
Comment=
Path=
